<!DOCTYPE html>

<table class="table table-striped">
    <thead>
        <tr>
            <td><b>Indicador</b></td>
            <td><b>Valor</b></td>
        </tr>
    </thead>
    <tbody>
        <!-- Rellenar la tabla -->
        <tr>
            <td>Renta media de la unidad familiar</td>
            <!-- Request ID -->
            <td>1.000</td>
        </tr>
        <tr>
            <td>Gasto mensual estimado en alquiler de vivienda</td>
            <!-- Request ID -->
            <td>600</td>
        </tr>
        <tr>
            <td>Gasto mensual estimado en hipoteca</td>
            <!-- Request ID -->
            <td>650</td>
        </tr>
        <tr>
            <td>Gasto mensual estimado en telecomunicaciones (teléfono, internet)</td>
            <!-- Request ID -->
            <td>35</td>
        </tr>
        <tr>
            <td>Gasto mensual estimado en ocio</td>
            <!-- Request ID -->
            <td>100</td>
        </tr>
        <tr>
            <td>Gasto mensual estimado en financiación al consumo (tarjetas) </td>
            <!-- Request ID -->
            <td>50</td>
        </tr>
        <tr>
            <td>Gasto mensual estimado en seguros</td>
            <!-- Request ID -->
            <td>12</td>
        </tr>
    </tbody>
</table>