<!DOCTYPE html>

<table class="table table-striped">
    <thead>
        <tr>
            <td><b>Indicador</b></td>
            <td><b>Valor</b></td>
        </tr>
    </thead>
    <tbody>
        <!-- Rellenar la tabla -->
        <tr>
            <td>Viviendas en propiedad, por compra, totalmente pagada</td>
            <!-- Request ID -->
            <td>370</td>
        </tr>
        <tr>
            <td>Viviendas en propiedad, por compra, con pagos pendientes</td>
            <!-- Request ID -->
            <td>240</td>
        </tr>
        <tr>
            <td>Viviendas en propiedad, por herencia o donación</td>
            <!-- Request ID -->
            <td>50</td>
        </tr>
        <tr>
            <td>Viviendas cedida gratis o a bajo precio</td>
            <!-- Request ID -->
            <td>0</td>
        </tr>
        <tr>
            <td>Viviendas en otro tipo de régimen de tenencia</td>
            <!-- Request ID -->
            <td>0</td>
        </tr>
    </tbody>
</table>