<!DOCTYPE html>

<table class="table table-striped">
    <thead>
        <tr>
            <td><b>Indicador</b></td>
            <td><b>Valor</b></td>
        </tr>
    </thead>
    <tbody>
        <!-- Rellenar la tabla -->
        <tr>
            <td>Viviendas de menos de 30m2</td>
            <!-- Request ID -->
            <td>0</td>
        </tr>
        <tr>
            <td>Viviendas entre 30-45 m2</td>
            <!-- Request ID -->
            <td>0</td>
        </tr>
        <tr>
            <td>Viviendas entre 46-60 m2</td>
            <!-- Request ID -->
            <td>0</td>
        </tr>
        <tr>
            <td>Viviendas entre 61-75 m2</td>
            <!-- Request ID -->
            <td>0</td>
        </tr>
        <tr>
            <td>Viviendas entre 76-90 m2</td>
            <!-- Request ID -->
            <td>195</td>
        </tr>
        <tr>
            <td>Viviendas entre 91-105 m2</td>
            <!-- Request ID -->
            <td>195</td>
        </tr>
        <tr>
            <td>Viviendas entre 106-120 m2</td>
            <!-- Request ID -->
            <td>120</td>
        </tr>
        <tr>
            <td>Viviendas entre 121-150 m2</td>
            <!-- Request ID -->
            <td>165</td>
        </tr>
        <tr>
            <td>Viviendas entre 151-180 m2</td>
            <!-- Request ID -->
            <td>0</td>
        </tr>
        <tr>
            <td>Viviendas de más de 180 m2</td>
            <!-- Request ID -->
            <td>0</td>
        </tr>
    </tbody>
</table>