<table class="table table-striped">
    <thead>
      <tr>
        <td><b>Indicador</b></td>
        <td><b>Valor</b></td>
      </tr>
    </thead>
    <tbody>
      <!-- Rellenar la tabla -->
      <tr>
        <td>Precio medio de alquiler</td>
        <td>550</td>
      </tr>
      <tr>
        <td>Precio medio de venta</td>
        <td>132.000</td>
      </tr>
      <tr>
        <td>Superficie media</td>
        <td>88</td>
      </tr>
      <tr>
        <td>Precio de venta en €/m2 medio</td>
        <td>1.650</td>
      </tr>
      <tr>
        <td>Incremento del precio de venta en €/m2 en los últimos 12 meses</td>
        <td>55</td>
      </tr>
    </tbody>
  </table>
  



