<table class="table table-striped">
  <thead>
    <tr>
      <td><b>Indicador</b></td>
      <td><b>Valor</b></td>
    </tr>
  </thead>
  <tbody>
    <!-- Rellenar la tabla -->
    <tr>
      <td>Viviendas en propiedad, por compra, totalmente pagada</td>
      <td>325</td>
    </tr>
    <tr>
      <td>Viviendas en propiedad, por compra, con pagos pendientes</td>
      <td>315</td>
    </tr>
    <tr>
      <td>Viviendas en propiedad, por herencia o donación</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Viviendas en alquiler</td>
      <td>125</td>
    </tr>
    <tr>
      <td>Viviendas cedida gratis o a bajo precio</td>
      <td>70</td>
    </tr>
    <tr>
      <td>Viviendas en otro tipo de régimen de tenencia</td>
      <td>10</td>
    </tr>
  </tbody>
</table>
