<table class="table table-striped">
    <thead>
      <tr>
        <td><b>Indicador</b></td>
        <td><b>Valor</b></td>
      </tr>
    </thead>
    <tbody>
      <!-- Rellenar la tabla -->
      <tr>
        <td>Hogares de 1 persona</td>
        <td>185</td>
      </tr>
      <tr>
        <td>Hogares de 2 personas</td>
        <td>395</td>
      </tr>
      <tr>
        <td>Hogares de 3 personas</td>
        <td>150</td>
      </tr>
      <tr>
        <td>Hogares de 4 personas</td>
        <td>100</td>
      </tr>
      <tr>
        <td>Hogares de 5 personas</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Hogares de 6 o más personas</td>
        <td>10</td>
      </tr>
    </tbody>
  </table>